doctype html
html
    head
        title
    body
    p.
        Dear #{ username },
    p.
        Here is your code and ID. Please verify it's you and do not reply to this username.
    p.
        ID: <b>#{ID}<b>
    p.
        <b>#{code}<b>
